@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 240, 3.7%, 15.9%;
  --primary: 0, 0%, 100%;
}

.light {
  --background: 0, 0%, 100%;
  --primary: 240, 3.7%, 15.9%;
}

@layer components {
  .typing-demo {
    @apply overflow-hidden border-r-4 font-mono text-4xl whitespace-nowrap;
    width: 0.1ch;
    animation: blink-caret 1s step-end infinite,
      typing 2s steps(20) 1.7s 1 forwards;
  }

  @keyframes typing {
    from {
      width: 0.1ch;
    }
    to {
      width: 9.35ch;
    }
  }

  @keyframes blink-caret {
    0%,
    100% {
      border-color: var(--primary);
    }
    50% {
      border-color: transparent;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 1.5s forwards;
  }
}
